# python bytecode cache
*.pyc
__pycache__
*/__pycache__

# ghostwriter md editor backups
*.backup

# linter/type-checker/unittesting cache
.pylint_cache
.ruff_cache
.mypy_cache
.pytest_cache

# testing code
deleteme.py
